*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .dabba{
      height: 100%;
      background-image:url('./images/bimg.png');
      background-repeat: no-repeat;
      background-size: cover;
  }
  .a{
    margin-top: 200px;
  }
  
  h2{
    padding-top: 30px;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    
  }
  .form{
   
    width:25vw;
    height:70vh;
    margin-top: 230px;
    
   
    margin-left: 19vw;
    background-color: white;
  }
   .email label ,.password label{
   
    display: block;
    margin-left: 4vw;
    margin-top: 4vh;
    
  }
  .email input ,.password input{
     margin-left: 4vw;
     margin-top: 2.5vh;
    border-top:none;
    border-left: none;
    outline: none;
    border-right: none;
  }
  .password input{
    margin-left: 4vw;
    margin-top: 2.5vh;
   border-top:none;
   border-left: none;
   border-right: none;
   margin-bottom: .55vw;
  }
  .checkbox {
   display: flex;
   justify-content: center;
   align-items: center;
    margin-top: 10vh;
    margin-left: 12px;
  
  }
  
  img{
    margin-left: 10px;
  }
  .checkbox input{
    margin-right: 0.5rem;
  }
  .forgot{
   display: block;
   margin-top: 10px;
  }
  /* .button{
    margin-top: 18%;
  } */
  .click{
    margin-left: 14%;
    width:225px;
    height:35px;
    border-radius: 20px;
    background: linear-gradient(to right,#52D1F9, #E563F8);
    color: white;
  } 