.app {
    background-image: url('./images/bimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #7a7d87;
    text-align: center;
   }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 200px;
    border-radius: 5px 5px 5px 5px;
    
    
  }
  
  .button-container {
    border-radius: 15px;
    color: white;
    background-image: linear-gradient(45deg,#52D1F9,#E563F8);
    border: white;
    padding-left:20px ;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 200px;
    height: 4vh;
    
    
   
   
  }
  
  .button-container ::backdrop {
    border-radius: 15px;
    color: white;
    background-image: linear-gradient(45deg,#52D1F9,#E563F8);
    border: white;
    padding-left:20px ;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    
  }
  
  
  .login-form {
      width: 50vh;
    border-radius: 15px 15px 15px 15px;  
    border-left:4px;
    background-color: white;
    padding-top:125px;
    padding-right: 100px;
    padding-left: 70px;
    padding-bottom: 125px;
    margin-left: 325px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 50px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
  
  }
  .button-container2{
    border-radius: 15px;
    color: white;
    background-image: linear-gradient(45deg,#52D1F9,#E563F8);
    border: white;
    padding-left:0px ;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 25px;
    cursor: pointer;
    width: 200px;
    height: 4vh;

  }
  .robot{
    width: 10px;
  }

  .box{
    height:70vh;
    background-color: white;
  margin-left: 200px;
  width:20rem;

    margin-top: 25px;
    font-family: sans-serif;
    display: flex;
    
    justify-content:center;
    flex-direction: column;
    gap: 20px;

    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    background-color: white;
        border-radius: 15px 15px 15px 15px;
        padding: 25px 5px 25px 5px;
        margin-left: 255px;
        box-shadow:  2px 2px 10px rgba(230, 226, 226, 0.925);
        max-width: 50vh;
  }
  .press1{
    border-radius: 15px;
    color: white;
    background-image: linear-gradient(45deg,#52D1F9,#E563F8);
    border: white;
    padding-left:0px ;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 25px;
    cursor: pointer;
    width: 200px;
    height: 4vh;

  }

  .press2{
    border-radius: 15px;
    color: white;
    background-image: linear-gradient(45deg,#52D1F9,#E563F8);
    border: white;
    padding-left:0px ;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 25px;
    cursor: pointer;
    width: 200px;
    height: 4vh;

  }

  .form-control{
    margin-top: 25px;
    width: 12.5rem;
    background-color: rgba(128, 128, 128, 0.115);
    border-radius: 5px;
    height: 1.5rem;
  }
  
  
 

